<p>
 The DIrectives !!!!
</p>
<div>
<ul>
  <li appBambii>Game of Thrones</li>
  <img src="https://www.listchallenges.com/f/items/f09e0f20-95f3-406e-a4e2-c81a9025d1c1.jpg" alt=""/>
  <li>Outlander</li>
  <img src="https://www.listchallenges.com/f/items/d180b6ef-7d5f-4696-9ffe-f9fa540fa886.jpg" alt=""/>
  <li>Sense8</li>
  <img src="https://www.listchallenges.com/f/items/e878cb3e-8535-461d-8f07-4b0ffe5a2880.jpg" alt=""/>
</ul>
<ul *appShowMovies="showMovies">
  <li [ngClass]="{'vital': isThisSerieVital}">Walking Dead</li>
  <img src="https://www.listchallenges.com/f/items/eaca5e50-4979-4305-b7af-22a6e0532968.jpg" alt=""/>
  <li>Van Helsing</li>
  <img src="https://www.listchallenges.com/f/items/41c0db5d-bcf1-445b-9b59-0fbdf093ba52.jpg" alt=""/>
</ul>
</div>
