@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.form-control{
    width:15%;
}
.alert{
    width:15%;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }